.one{
    background-image: url(../фото/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 885px;
}
.web{
    
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 350px;
}
.two{
    height: 1000px;
}
.texttwo{
    color: rgb(54, 54, 208);
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    text-align: center;
    
}
.ul{
    display: inline-block;
    text-align: center;
    padding: 50px;
}
.li{
    text-decoration: none;
    color: blue;
    font-size: 43px;
}
.li:hover{
    color: aqua;
}
.ee{
color: blue;
font-size: 43px;
text-align: center;
}
.pic1{
    display: block;
    margin: 0 auto;
}
.pic2{
    display: block;
    margin: 0 auto;
}
.texxt{
    width: 665px;
    height: 220px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}
.ttt{
    font-size: 22px;
    text-align: justify;

}
.ttt1{
    margin: 50px 0 0 50px ;

    font-size: 25px;
    text-align: justify;

}
.fin{
    width: 300px;
    height: 500px;
}